<div class="text-center mb-3">
    <h1 class="mb-0">Random locatie generator</h1>
    <small>Genereer een random locatie als json</small>
    <small class="d-block"><i>Niels Rolleman</i></small>
</div>

<form method="get" onsubmit="return validate()" name="location" id="form" class="form-floating">
    <div class="d-flex justify-content-center mt-3 row">
        <button type="submit" class="btn btn-outline-dark" style="width: 39%">Submit</button>
    </div>
</form>

<h2 id="owo" class="text-center mt-4"></h2>
    <div style="margin-left: 350px">
        <iframe
                id="uwu"
                width="600"
                height="450"
                frameborder="0" style="border:0"
                allowfullscreen>
        </iframe>
    </div>
<script>
    let form = document.forms["location"];

    function validate() {
        $.get(`https://projectrandomizerteambril.azurewebsites.net/random_location`)
            .done(function (data) {
                    $('#owo').text("latitude: " + data.value.latitude + " longitude: " + data.value.longitude);
                    $('#uwu').attr('src', `https://www.google.com/maps/embed/v1/place?key=AIzaSyD6w1gRct44p-imclQVW55W4G1Y_Ewl_9Y&q=${data.value.latitude},${data.value.longitude}`)
            }).catch((error) => $('#owo').text(error.statusText));

        return false;
    }


</script>

