
<h1>Random datum generator</h1>
<small>genereer een random datum, als je start datum meegeeft is dat de minimale en end date is het maximale</small>

<form action="/" method="post" class="form-floating d-flex justify-content-center">

    <div class="form-floating d-inline-flex" style="width: 15em">
        <input type="date" class="form-control" name="start" id="start" placeholder="start datum" />
        <label for="start">start datum</label>
    </div>
    <div class="form-floating d-inline-flex" style="width: 15em">
        <input type="date" class="form-control" name="end" id="end" placeholder="eind datum" />
        <label for="end">eind datum</label>
    </div>
   
</form>
