<div class="text-center mb-3">
    <h1 class="mb-0">Random wachtwoord generator</h1>
    <small>genereer een random wachtwoord</small>
    <small class="d-block"><i>Youri Bakker</i></small>
</div>

<form method="get" onsubmit="return validate()" name="pass" id="pass" class="form-floating">
    <div class="row justify-content-between align-content-center">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" id="flexRadioDefault1" value="filter">
            <label class="form-check-label" for="flexRadioDefault1">
                Optionele filter
            </label>
        </div>
        <div class="form-floating me-4" style="width: 15em">
            <input type="number" min="1" class="form-control" name="lengte" placeholder="lengte" />
            <label for="start" class="ms-2">Lengte</label>
            <div class="valid-feedback">Valid.</div>
            <div id="start_error" class="invalid-feedback">cannot be empty or lower if end date is filled in</div>
        </div>
        <div class="form-check" style="width: fit-content">
            <input class="form-check-input" type="checkbox" value="" name="lower" id="formCheckChecked" checked="">
            <label class="form-check-label" for="formCheckChecked">Kleine letters</label>
        </div>
        <div class="form-check" style="width: fit-content">
            <input class="form-check-input" type="checkbox" value="" name="upper" id="formCheckChecked" checked="">
            <label class="form-check-label" for="formCheckChecked">Hoofd letters</label>
        </div>
        <div class="form-check" style="width: fit-content">
            <input class="form-check-input" type="checkbox" value="" name="number" id="formCheckChecked" checked="">
            <label class="form-check-label" for="formCheckChecked">Getallen</label>
        </div>
        <div class="form-check" style="width: fit-content">
            <input class="form-check-input" type="checkbox" value="" name="chars" id="formCheckChecked" checked="">
            <label class="form-check-label" for="formCheckChecked">Tekens</label>
        </div>
    </div>

    <div class="row justify-content-between align-content-center mt-5">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" id="flexRadioDefault2" value="amounts">
            <label class="form-check-label" for="flexRadioDefault2">
                Aantallen
            </label>
        </div>
        <div class="form-floating me-4" style="width: 15em">
            <input type="number" min="0" class="form-control" name="amLower" placeholder="aantal kleine letters" />
            <label for="start" class="ms-2">aantal kleine letters</label>
            <div class="valid-feedback">Valid.</div>
            <div id="start_error" class="invalid-feedback">cannot be empty or lower if end date is filled in</div>
        </div>
        <div class="form-floating me-4" style="width: 15em">
            <input type="number" min="0" class="form-control" name="amUpper" placeholder="aantal hoofd letters" />
            <label for="start" class="ms-2">aantal hoofd letters</label>
            <div class="valid-feedback">Valid.</div>
            <div id="start_error" class="invalid-feedback">cannot be empty or lower if end date is filled in</div>
        </div>
        <div class="form-floating me-4" style="width: 15em">
            <input type="number" min="0" class="form-control" name="amNumber" placeholder="aantal nummers" />
            <label for="start" class="ms-2">aantal nummers</label>
            <div class="valid-feedback">Valid.</div>
            <div id="start_error" class="invalid-feedback">cannot be empty or lower if end date is filled in</div>
        </div>
        <div class="form-floating me-4" style="width: 15em">
            <input type="number" min="0" class="form-control" name="amChars" placeholder="aantal tekens" />
            <label for="start" class="ms-2">aantal tekens</label>
            <div class="valid-feedback">Valid.</div>
            <div id="start_error" class="invalid-feedback">uwu</div>
        </div>
    </div>

    <div class="row justify-content-center align-content-center mt-5">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" id="flexRadioDefault2" value="default" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Alleen lengte
            </label>
        </div>
        <div class="form-floating me-4" style="width: 15em">
            <input type="number" min="1" class="form-control" name="onlyLengte" placeholder="lengte" />
            <label for="start" class="ms-2">Lengte</label>
            <div class="valid-feedback">Valid.</div>
            <div id="start_error" class="invalid-feedback">cannot be empty or lower if end date is filled in</div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3 row">
        <button type="submit" class="btn btn-outline-dark" style="width: 39%">Submit</button>
    </div>
</form>

<div style="max-height:300px; overflow-y:scroll">
    <h1 id="owo" class="text-center mt-4"></h1>
</div>


<script>
    let form = document.forms["pass"];
    let startError = document.getElementById('start_error');

  

    function validate() {
        let urlString = "http://localhost:5298"
      
        if (form['option'].value == 'default') {
            urlString += `/password/${form['onlyLengte'].value}`;
        } else if (form['option'].value == 'amounts') {
            urlString += `/password/${form['amLower'].value}/${form['amUpper'].value}/${form['amChars'].value}/${form['amNumber'].value}`
        } else {
            urlString += `/password/${form['lengte'].value}/${form['lower'].checked}/${form['upper'].checked}/${form['chars'].checked}/${form['number'].checked}`
        }
        console.log(urlString)
        $.get(urlString)
            .done(function (data) {
                $('#owo').text(data.value);
                console.log(data.value);
            }).catch((error) => $('#owo').text(error.statusText));
        return false;
    }


</script>

