<div class="text-center mb-3">
    <h1 class="mb-0">Random tekst generator</h1>
    <small>genereer random lorum ipsum tekst;</small>
    <small class="d-block"><i>Niels Rolleman</i></small>
</div>

<form method="get" onsubmit="return validate()" name="amount" id="form" class="form-floating">
    <div class="row justify-content-center">
        <div class="form-floating me-4" style="width: 15em">
            <input type="number" class="form-control" name="amount" id="amount" placeholder="getal" />
            <label for="amount" class="ms-2">Aantal paragrafen</label>
            <div class="valid-feedback">Valid.</div>
            <div id="amount_error" class="invalid-feedback">cannot be empty or lower then 0</div>
        </div>
        <div class="form-floating" style="width: 15em">
            <div class="bootstrap-switch-square">
                <input class="form-check-input" type="checkbox" value="" name="negative" id="formCheckChecked" checked="">
                <label>Selecteer als je nederlandse tekst wil genereren</label>
            </div>
        </div>
        <div class="form-floating" style="width: 15em">
            <div class="bootstrap-switch-square">
                <input class="form-check-input" type="checkbox" value="" name="negative1" id="formCheckChecked" checked="">
                <label>Selecteer als je de tekst als html code wilt genereren</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3 row">
        <button type="submit" class="btn btn-outline-dark" style="width: 39%">Submit</button>
    </div>
</form>
    <span id="owo" class="w-100 me-2"></span>
<script>
    let form = document.forms["amount"];
    let startError = document.getElementById('amount_error');

    form['amount'].addEventListener('change', () => {
        form['amount'].classList.remove('is-invalid');
    })

    function validate() {
        if (form['amount'].value <= 0) {
            form['amount'].classList.add('is-invalid');
            startError.innerText = "getal mag niet kleiner of gelijk zijn aan nul";
            return false;
        } else if (form['amount'].value > 10) {
            form['amount'].classList.add('is-invalid');
            startError.innerText = "getal mag niet groter zijn dan aan 10";
            return false;
        }
        else {
            if (form['amount'].value != "") {
                $.post(`http://localhost:5298/random_text/${form['amount'].value}/${form["negative"].checked}/${form["negative1"].checked }`)
                    .done(function (data) {
                        $('#owo').text(data.value);
                        console.log(data.value);
                    }).catch((error) => $('#owo').text(error.statusText));
            } else {
                $.get('http://localhost:5298/random_text')
                    .done(function (data) {
                        $('#owo').text(data.value);
                        console.log(data.value);
                    }).catch((error) => $('#owo').text(error.statusText));
            }
            return false;
        }
    }


</script>

