@{
    ViewData["Title"] = "Random Season";

    if (ViewBag.Error != null)
    {
        <h1 class="text-bg-danger">@ViewBag.Error</h1>
    }
}

<div class="text-center mb-3">
    <h1 class="mb-0">Random Seizoen generator</h1>
    <small>Genereer een willekeurig seizoen</small>
    <small class="d-block"><i>Youri Blanckenborg</i></small>
</div>
<form method="get" asp-action="GetRandomSeason">
    <div class="d-flex justify-content-center mt-3 row">
        <button type="submit" class="btn btn-outline-dark" style="width: 39%">Genereer</button>
    </div>
</form>

@if (ViewBag.Season != null)
{
    <h1 class="me-3">@ViewBag.Season</h1>
}