
<h1>Random datum generator</h1>
<small>genereer een x aantal dobbelsteen rolls</small>

<form action="/" method="post" class="form-floating d-flex justify-content-center">

    <div class="form-floating d-inline-flex" style="width: 15em">
        <input type="number" class="form-control" name="amount" id="amount" placeholder="getal" />
        <label for="amount">Voer een getal in</label>
    </div>
   
</form>
